body{
    font-family: sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--cols,10), 35px);
    grid-template-rows: repeat(var(--rows,10), 35px);
    gap: 1px;
}

.box{
    height: 35px;
    width: 35px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}